<div class="container">
	<div class="row">
		<h1>A Blank Skeleton Blog</h1>
	</div>
	<% @posts.each do |post| %>
		<div class="row">
			<h3><%= link_to post.title, post %></h3>
			<p><%= post.content %></p>
		</div>

		<button class="button-primary blog-meld" ><%= link_to 'Show', post %></button>
		<button class="button-primary blog-meld" ><%= link_to 'Edit', edit_post_path(post) %></button>
		<button class="button-primary blog-meld" ><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure? This is irreversable' } %></button>
	<% end %>
</div>
